@import "reset.css";

body { overflow: hidden; }

#container { height: 100%; width: 100%; display: block; padding: 15px; }

#container h1 { font: bold 2.2em/.8em arial; font-variant: small-caps; margin: 0 0 4px; }
#container h2 { width: 300px; font: 1.05em/1em arial; font-style: italic; margin: 0 0 8px; padding: 0 0 8px; border-bottom: 1px dashed #000; }

#container .chatContainer { width: 300px; height: 300px; padding: 10px; border: 2px solid #000; background: #eee; }

	#container .chatContainer h3 { font: 1.6em/1em arial; font-style: italic; margin: 0 0 8px 0; }

	.chatContainer .chats {
	    width: 300px;
	    height:200px;
	    border: solid 1px #999;
	    overflow: auto;
		margin: 0 0 8px;
		background: #fff;
	}

		.chatContainer .chatLineContent { text-indent: -1em; padding-left: 1em; }

		.chatContainer .chatLineUsername { color: #00f; }
		
	.chatContainer .clearfix { width: 300px; }

	.chatContainer .pubmsg { width: 240px; border: solid 1px #999; margin: 0 0 8px; }
	.chatContainer .label_username { width: 60px; color: #999; font: 1.1em arial; }
	.chatContainer .username { width: 240px; margin: 0 0 8px; border: solid 1px #999; color: #00f; font: 1.1em arial; }